@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --color-primary: #FEEA00;
    --color-secondary: #4E4B40;
    --color-tertiary: #6D6658;
    --color-primary-text: #254F58;
    --color-secondary-text: #599291;
    --color-dark-text: #112D31;
    --color-button-bg: #007bff;
    --background-color-addbtn-hover: #b5b5b5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*imp! COMMON CSS */

html {
    scroll-behavior: smooth;
}

body {
    height: 100dvh;
}

p,
a {
    line-height: 1.5rem;
    font-family: 'Poppins';
    letter-spacing: 0.3px;
    line-height: 1.8rem;
    text-align: justify;
    color: var(--color-dark-text);
}

h2,
h3,
h4 {
    color: var(--color-dark-text);
}

/*imp! HEADER */


header {
    display: flex;
}

.desktop-nav {
    display: flex;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 100%;
    max-height: 4rem;
    padding: 4rem 7%;
    background-color: #ffffff;
    position: fixed;
    top: 0rem;
    z-index: 100;
    box-shadow: 0rem 0.25rem 0.938rem #00000010;
}

.logo-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6rem;
    text-align: center;
    width: 100%;
}

.logo {
    height: 7rem;
    width: auto;
}

.logo img {
    height: 100%;
    width: auto;
}

.bg-yellow-top-left {
    background: var(--color-primary);
    width: 10%;
    height: 20rem;
}

h1 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 7.3rem;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 9rem;
    right: 8.6rem;
    color: var(--color-primary-text);
}


.nav-links,
.nav-login-register {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 2rem;
    list-style-type: none;
}


.nav-links a,
.nav-login-register li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--color-secondary-text);
}

.nav-item {
    position: relative;
}

.account {
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: var(--color-secondary);
    transition: width 0.3s ease;
}

.account::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: var(--color-secondary);
    transition: width 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
}

.account:hover::after {
    width: 100%;
}

.c-open-menu,
.c-close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;

}

.c-open-menu {
    top: 3rem;
    right: 8%;
}

.c-close-menu {
    top: 3rem;
    right: 10%;
}

#check {
    display: none;
}


/* IMP! GALLERY SECTION */

.gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;


    h2 {
        font-family: "Italiana", sans-serif;
        font-size: clamp(1.1rem, 0.32000000000000006rem + 3.9vw, 5rem);
        letter-spacing: 1px;
        font-weight: 500;
        padding-bottom: 3rem;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        padding: 10px;

        .gallery-item {
            width: 100%;
            height: auto;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                display: block;
            }

            :hover {
                transition: all 0.3s ease-in-out;
                scale: 103%;
            }
        }
    }

    .item-1 {
        grid-column: span 1;
        grid-row: span 2;

    }

    .item-2 {
        grid-column: span 2;
        grid-row: span 3;
    }


    .item-3 {
        grid-column: span 2;
        grid-row: span 3;

    }

    .item-3 {
        grid-column: span 1;
        grid-row: span 2;

    }

    .item-4 {
        grid-column: span 1;
        grid-row: span 1;

    }

    .item-5 {
        grid-column: span 1;
        grid-row: span 1;
    }
}

/* imp! LOG IN AND REGISTER */

.robot-check {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.625rem 0 2rem;
    padding: 0.3rem 0;
    background-color: #fff;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    width: 60%;

    img {
        width: 2rem;
        height: 2rem;
    }
}

.not-robot {
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
    height: 1.5rem !important;
    width: 1.5rem !important;
    cursor: pointer;
}

.not-robot-label {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;

}

.login-container {
    display: flex;
    flex: 1 1 100%;
    margin-top: 6rem;
    padding: 9% 15% 7%;

    .login-img-div {
        display: flex;
        flex: 1 1 50%;

        img {
            object-fit: cover;
            height: auto;
            width: 100%;
            display: block;
        }
    }

    .login-form {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        padding: 7%;
        background-color: #F1F1F1;

        h2 {
            font-family: "Poppins", sans-serif;
            font-size: 1.5rem;
            font-weight: 500;
            padding-bottom: 2rem;
        }

        .label {
            font-family: "Poppins", sans-serif;
            font-size: 1rem;
            color: var(--color-dark-text);
        }

        input {
            height: 2.5rem;
            width: 100%;
            border: 1px solid #c5c5c5;
            border-radius: 0.3rem;
            padding-left: 1rem;
            margin-bottom: 1rem;
            font-size: 1rem;
        }

        input::placeholder {
            color: #ccc;
        }

        p {
            font-family: "Poppins", sans-serif;
            font-size: 0.8rem;
            color: #5c5c5c;
            text-align: start;

            span {
                text-decoration: underline;
                font-weight: 500;
                cursor: pointer;
            }
        }

        .submit {
            background: var(--color-button-bg);
            color: #ffffff;
            width: 50%;
            border-radius: 0.4rem;
            height: 2.4rem;
            padding: 0 !important;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }

        span {
            font-family: "Poppins", sans-serif;
            font-size: 0.8rem;
        }

        .sing-up {
            font-weight: 600 !important;
            text-decoration: underline;
            cursor: pointer;
            font-size: 1rem;
            color: var(--color-dark-text);
        }
    }
}


@media (width<999px) {
    .login-container {
        padding: 9% 7% 7%;

        .login-img-div {
            display: none;
        }
    }
}

@media (width<600px) {
    .login-container {
        padding: 7% 7%;

        .login-details {
            .robot-check {
                width: 100%;
            }

            .submit {
                width: 100%;
            }
        }
    }
}

/* imp! ABOUT AND HOME COMMON CSS */


.hero-section-div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    background-color: var(--color-primary);

    .img-div {
        width: 95.5%;
        height: auto;

        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }
}

.hero-section-text {
    width: 100%;
    height: auto;
    background-color: var(--color-primary);
    padding: 5% 7%;

    h2 {
        font-family: "Italiana", sans-serif;
        font-size: clamp(1.3rem, 0.7999999999999999rem + 2vw, 2.6rem);
        letter-spacing: 1px;
        font-weight: 600;
        padding-bottom: 2.5rem;
    }

    p {
        font-size: clamp(0.9rem, 0.8400000000000001rem + 0.29999999999999993vw, 1.2rem);
        font-weight: 300;
        padding-bottom: 2rem;
    }

    p:nth-child(3) {
        padding-bottom: 0;
    }

}

.what-you-can-expect {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    gap: 3rem;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 6% 7%;

    .left-img-div {
        display: flex;
        flex: 1 1 45%;
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }

    .right-content-text-div {
        display: flex;
        flex-direction: column;
        flex: 1 1 55%;

        h3 {
            font-family: 'Poppins';
            font-size: 1.7rem;
            font-weight: 500;
            padding-bottom: 2rem;
        }

        p {
            font-size: clamp(1rem, 0.8400000000000001rem + 0.29999999999999993vw, 1.2rem);
            font-weight: 300;
            padding-bottom: 2rem;
        }
    }
}

.share-your-story {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    gap: 3rem;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 0 7% 6%;

    .right-img-div {
        display: flex;
        flex: 1 1 45%;
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }

    .left-content-text-div {
        display: flex;
        flex-direction: column;
        flex: 1 1 55%;

        h3 {
            font-family: 'Poppins';
            font-size: 1.7rem;
            font-weight: 500;
            padding-bottom: 2rem;
        }

        p {
            font-size: clamp(1rem, 0.8400000000000001rem + 0.29999999999999993vw, 1.2rem);
            font-weight: 300;
            padding-bottom: 2rem;
        }
    }
}

@media (width<999px) {

    .hero-section-div .img-div {
        width: 100%;
    }

}

@media (width <850px) {
    .hero-section-text h2 {
        padding-bottom: 1.5rem;
    }

    .hero-section-text p {
        padding-bottom: 1.2rem;
    }

    .what-you-can-expect {
        flex-direction: column;

        .right-content-text-div h3 {
            font-size: 1.5rem;
        }
    }

    .share-your-story {
        flex-direction: column;

        .right-img-div {
            order: 1;
        }

        .left-content-text-div {
            order: 2;
        }

        .left-content-text-div h3 {
            font-size: 1.5rem;
        }
    }

}

@media (width <600px) {
    .hero-section-div {
        min-height: 28rem;

        .img-div {
            min-height: 28rem;

            img {
                min-height: 28rem;
                object-fit: cover;
            }
        }
    }


    .what-you-can-expect {
        gap: 1.5rem;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;

        .right-content-text-div {
            padding-left: 7%;
            padding-right: 7%;
        }

        .right-content-text-div h3 {
            font-size: 1.2rem;
            padding-bottom: 1.2rem;
        }
    }

    .share-your-story {
        gap: 1.5rem;
        padding-left: 0;
        padding-right: 0;

        .left-content-text-div {
            padding-left: 7%;
            padding-right: 7%;
        }

        h3 {
            font-size: 1.3rem;
            padding-bottom: 1.2rem;
        }

        .left-content-text-div p {
            padding-bottom: 1.2rem;
        }

        .left-content-text-div p:last-child {
            padding-bottom: 0;
        }
    }

    .what-you-can-expect .right-content-text-div p {
        padding-bottom: 1.2rem;
    }
}

/* imp! LOADER */


.loader {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 84px;
    height: 84px;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background: #FF3D00;
    animation: push 1s infinite linear alternate;
}

.loader:after {
    top: auto;
    bottom: 0;
    left: 0;
    background: #599291;
    animation-direction: alternate-reverse;
}

@keyframes push {
    0% {
        width: 14px;
        height: 14px;
    }

    100% {
        width: 84px;
        height: 84px;
    }
}

/* imp! FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background: var(--color-primary);


    .footer-row-1 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex: 1 1 100%;
        width: 100%;
        height: auto;
        padding: 3rem 7%;

        .footer-column-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 25%;
            width: 100%;
            height: auto;
            min-height: 7rem;
            border-right: 1px solid var(--color-dark-text);

            .footer-logo-div {
                width: 8rem;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        .footer-column-2 {
            display: flex;
            justify-content: center;
            flex: 1 1 25%;
            width: 100%;
            height: auto;
            min-height: 7rem;
            gap: 3rem;
            border-right: 1px solid var(--color-dark-text);

            .footer-column-2-left {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                a {
                    text-decoration: none;
                    font-size: 1rem;
                }
            }

            .footer-column-2-right {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                a {
                    text-decoration: none;
                    font-size: 1rem;
                }
            }
        }

        .footer-column-3 {
            display: flex;
            flex-direction: column;
            flex: 1 1 25%;
            width: 100%;
            height: auto;
            min-height: 7rem;
            gap: 0.8rem;
            justify-content: center;
            align-items: center;
            border-right: 1px solid var(--color-dark-text);

            h4 {
                font-family: 'Poppins';
                font-weight: 500;
            }

            .footer-social-media-icons {
                display: flex;
                gap: 0.8rem;

                i {
                    font-size: 1.5rem;
                    transition: all 0.2s ease-in-out;
                }

                .fa-square-facebook:hover {
                    scale: 110%;
                    color: #1877F2;
                }

                .fa-instagram:hover {
                    scale: 110%;
                    color: #e4107a;
                }

                .fa-pinterest:hover {
                    scale: 110%;
                    color: #BD081C;
                }

                .fa-x-twitter:hover {
                    scale: 110%;
                    color: #000000;
                }

                .fa-youtube:hover {
                    scale: 110%;
                    color: #E62117;
                }
            }
        }

        .footer-column-4 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 25%;
            width: 100%;
            height: auto;
            min-height: 7rem;
            padding-left: 2rem;


            input {
                border: transparent;
                border-radius: 0.2rem 0rem 0rem 0.2rem;
                text-align: center;
                padding: 0.3rem 1rem;
                height: 2rem;
                font-size: 1rem;
            }

            input:last-child {
                background-color: var(--color-primary-text);
                color: #ffffff;
                border-radius: 0rem 0.2rem 0.2rem 0rem;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
            }

            input:last-child:hover {
                background-color: var(--color-secondary-text);
            }
        }
    }

    .footer-row-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 85%;
        padding: 1rem 0;
        border-top: 1px solid var(--color-dark-text);

        p {
            text-align: center;
        }
    }
}

@media (width<1280px) {
    h1 {
        font-size: clamp(1.3rem, 0.07142857142857162rem + 7.142857142857142vw, 6.5rem);
        position: absolute;
        top: 11rem;
        right: 7.6rem;
    }
}

@media (width<999px) {
    .nav-links {
        gap: 0;
    }

    .footer .footer-row-1 {
        flex-direction: column;
        gap: 1rem;

        .footer-column-1,
        .footer-column-2,
        .footer-column-4,
        .footer-column-5 {
            justify-content: flex-start;
            border-right: none;
            min-height: 0;
        }

        .footer-column-2 {
            padding-top: 1rem;
            gap: 7rem;
        }

        .footer-column-3 {
            align-items: flex-start;
            border-right: none;
        }

        .footer-column-4 {
            padding-left: 0;
        }
    }

}

@media (width>850px) {

    .nav-links li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        min-width: 6rem;
        padding: 0rem 0.5rem;
        transition: all 0.2s ease-in-out;

    }

    .nav-links li a:hover {
        color: var(--color-primary-text);

    }
}

@media (width <850px) {

    .desktop-nav {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo {
        height: 5rem;
    }


    .c-open-menu {
        color: var(--color-primary-text);
        top: 2.5rem;
    }

    .nav-links a {
        font-size: 1rem;
        font-weight: 500;
        color: #fff !important;

    }

    .nav-login-register li a {
        font-size: 1rem;
        width: 100%;
        padding: 1rem 25%;
        font-weight: 500;
        color: var(--color-primary)
    }


    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        height: 100dvh;
        padding-bottom: 5rem;
        position: fixed;
        top: 0%;
        right: -100%;
        z-index: 100;
        background-color: #254f58;
        transition: all 0.5s ease-in-out;
    }

    .nav-links li {
        transition: all 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        width: 100%;


    }

    .nav-links li :hover {
        background-color: lightgray;
        display: flex;
        width: 100%;



        cursor: pointer;
    }

    .nav-links li .nav-item {
        padding: 1rem 43%;
        color: white;
        width: 100%;
        transition: all 0.5s ease-in-out;
    }

    .nav-login-register {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 0;

        a {
            transition: all 0.5s ease-in-out;
        }
    }

    .nav-links li .nav-item:hover,
    .nav-login-register a:hover {
        color: #000000;
        border-bottom: 0.7rem solid var(--color-primary);
        margin: auto;

    }


    .c-open-menu,
    .c-close-menu {
        display: flex;
    }

    .c-close-menu i {
        color: white;
    }

    #check:checked~.nav-links {
        right: 0%;
    }

    h1 {
        top: 7rem;
    }

    .bg-yellow-top-left {
        height: 13rem;
    }
}

@media (width<777px) {
    .logo {
        margin: 0%;
        height: 5rem;
        top: 2rem;
        left: 2rem;

        img {
            height: 5rem;
        }
    }

    .c-open-menu,
    .c-close-menu {
        font-size: 1.5rem;
    }

    h1 {
        top: 7rem;
        right: 15%;
    }
}

@media (width<600px) {

    .bg-yellow-top-left {
        height: 11rem;
    }

    .c-close-menu {
        top: 2.5rem;
    }

    h1 {
        top: 7rem;
        right: 15%;
    }

    .gallery-section {
        padding-bottom: 2rem;

        h2 {
            padding-bottom: 1.5rem;
            font-weight: 600;
        }
    }

    .gallery-section .gallery-grid {
        padding: 0;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        .gallery-item img {
            border-radius: 0;
        }

    }

    .gallery-section .gallery-grid .item-1,
    .item-2,
    .item-3,
    .item-4,
    .item-5 {
        :hover {
            scale: 100%;
        }
    }

    .footer {

        .footer-row-1 {
            padding: 2rem 7%;

            .footer-column-4 input {
                font-size: 0.9rem;
            }
        }

        .footer-row-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 85%;
            padding: 1rem 0;
            border-top: 1px solid var(--color-dark-text);

            p {
                font-size: 0.9rem;
            }
        }

    }
}

@media (30px <=width <=450px) {

    .bg-yellow-top-left {
        height: 9.5rem;
    }
}