@import url(/css/common-css.css);

.home {
    color: var(--color-primary-text) !important;
}

.home::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color-secondary);
    transition: width 0.3s ease;
}

@media (width <850px) {
    .home {
        color: #ffffff !important;
    }
}