@import url(/css/common-css.css);
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.home {
    color: var(--color-primary-text) !important;
}

@media (width <850px) {
    .home {
        color: #ffffff !important;
    }
}

.hero-section-div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    background-color: var(--color-primary);

    .img-div {
        width: 95.5%;
        height: auto;

        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }
}

.hero-section-text {
    width: 100%;
    height: auto;
    background-color: var(--color-primary);
    padding: 5% 7%;

    h2 {
        font-family: "Italiana", sans-serif;
        font-size: clamp(1.3rem, 0.7999999999999999rem + 2vw, 2.6rem);
        letter-spacing: 1px;
        font-weight: 600;
        padding-bottom: 2.5rem;
    }

    p {
        font-size: clamp(0.9rem, 0.8400000000000001rem + 0.29999999999999993vw, 1.2rem);
        font-weight: 300;
        padding-bottom: 2rem;
    }

    p:nth-child(3) {
        padding-bottom: 0;
    }

}

.what-you-can-expect {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    gap: 3rem;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 6% 7%;

    .left-img-div {
        display: flex;
        flex: 1 1 45%;
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }

    .right-content-text-div {
        display: flex;
        flex-direction: column;
        flex: 1 1 55%;

        h3 {
            font-family: 'Poppins';
            font-size: 1.7rem;
            font-weight: 500;
            padding-bottom: 2rem;
        }

        p {
            font-size: clamp(1rem, 0.8400000000000001rem + 0.29999999999999993vw, 1.2rem);
            font-weight: 300;
            padding-bottom: 2rem;
        }
    }
}

.share-your-story {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    gap: 3rem;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 0 7% 6%;

    .right-img-div {
        display: flex;
        flex: 1 1 45%;
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }

    .left-content-text-div {
        display: flex;
        flex-direction: column;
        flex: 1 1 55%;

        h3 {
            font-family: 'Poppins';
            font-size: 1.7rem;
            font-weight: 500;
            padding-bottom: 2rem;
        }

        p {
            font-size: clamp(1rem, 0.8400000000000001rem + 0.29999999999999993vw, 1.2rem);
            font-weight: 300;
            padding-bottom: 2rem;
        }
    }
}

.gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;


    h2 {
        font-family: "Italiana", sans-serif;
        font-size: clamp(1.1rem, 0.32000000000000006rem + 3.9vw, 5rem);
        letter-spacing: 1px;
        font-weight: 500;
        padding-bottom: 2.5rem;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        padding: 10px;

        .gallery-item {
            width: 100%;
            height: auto;

            img {
                border-radius: 1.5rem;
                height: 100%;
                width: 100%;
                display: block;
            }
        }
    }

    .item-1 {
        grid-column: span 1;
        grid-row: span 2;

        :hover {
            transition: all 0.3s ease-in-out;
            scale: 97%;
        }
    }

    .item-2 {
        grid-column: span 2;
        grid-row: span 3;

        :hover {
            transition: all 0.3s ease-in-out;
            scale: 97%;
        }
    }


    .item-3 {
        grid-column: span 2;
        grid-row: span 3;

        :hover {
            transition: all 0.3s ease-in-out;
            scale: 97%;
        }
    }

    .item-3 {
        grid-column: span 1;
        grid-row: span 2;

        :hover {
            transition: all 0.3s ease-in-out;
            scale: 97%;
        }
    }

    .item-4 {
        grid-column: span 1;
        grid-row: span 1;

        :hover {
            transition: all 0.3s ease-in-out;
            scale: 97%;
        }
    }

    .item-5 {
        grid-column: span 1;
        grid-row: span 1;

        :hover {
            transition: all 0.3s ease-in-out;
            scale: 97%;
        }
    }
}


@media (width<999px) {

    .hero-section-div .img-div {
        width: 100%;
    }

}

@media (width <850px) {
    .hero-section-text h2 {
        padding-bottom: 1.5rem;
    }

    .hero-section-text p {
        padding-bottom: 1.2rem;
    }

    .what-you-can-expect {
        flex-direction: column;

        .right-content-text-div h3 {
            font-size: 1.5rem;
        }
    }

    .share-your-story {
        flex-direction: column;

        .right-img-div {
            order: 1;
        }

        .left-content-text-div {
            order: 2;
        }

        .left-content-text-div h3 {
            font-size: 1.5rem;
        }
    }

}

@media (width <600px) {
    .hero-section-div {
        min-height: 25rem;

        .img-div {
            min-height: 25rem;

            img {
                min-height: 25rem;
                object-fit: cover;
            }
        }
    }


    .what-you-can-expect {
        gap: 1.5rem;

        .right-content-text-div h3 {
            font-size: 1.2rem;
            padding-bottom: 1.2rem;
        }
    }

    .share-your-story {
        gap: 1.5rem;

        .left-content-text-div h3 {
            font-size: 1.3rem;
            padding-bottom: 1.2rem;
        }

        .left-content-text-div p {
            padding-bottom: 1.2rem;
        }

        .left-content-text-div p:last-child {
            padding-bottom: 0;
        }
    }

    .what-you-can-expect .right-content-text-div p {
        padding-bottom: 1.2rem;
    }

    .gallery-section {
        padding-bottom: 2rem;

        h2 {
            padding-bottom: 1.5rem;
            font-weight: 600;
        }
    }

    .gallery-section .gallery-grid {
        padding: 0;
        gap: 5px;

        .gallery-item img {
            border-radius: 0;
        }

    }

    .gallery-section .gallery-grid .item-1,
    .item-2,
    .item-3,
    .item-4,
    .item-5 {
        :hover {
            scale: 100%;
        }
    }
}